*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    padding: 2px 50px;
    display: inline-block;

    color: black;
    text-decoration: none;
    
}

#menu ul li a:hover{
    background-color: rgba(11, 17, 17, 0.274);;
    color: white;
    
}

.header-scroll{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    height: 60px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(52, 87, 88, 0.274);
    box-shadow: 0px 2px 5px black;
}

.imagem-fundo{
    width: 100%;
}

.cor-letras{
    color: rgb(115, 196, 115);
}

/*MAIN*/

main{
    height: 3vh;
}
